@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

.logo {
    background-position: center;
    background-size: cover;
    background-image: url("../img/logo.png");
    min-height: 65%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.menu {
    display: none;
}